body{
    background: #2f475f ;
    
    height:89vh;
    background:radial-gradient(transparent, black);
  
}
#movieInfo{
    display:flex;
    justify-content:space-between; 
    margin-top:1%;
    
    
}
#mainContent{
    width:80%;
    height:80%;
    align-content:center;
    margin-left:10%;
    
}

#movieText{
    padding-top:5%;
}
#titleYear{
    display:flex;
}
#ratings{
    display:flex;
}
#posterContainer{
    
    
}
#indices{
    display:flex;
    justify-content: center;
    font-size: 20px;

}
#skipButtons{
    display:flex;
    justify-content:center;
}
#moviePoster{
    height:70vh;
    box-shadow: -4px 5px 4px black;
    
}
.buttonA{
   
   height:100px;
    background-repeat: no-repeat;
}
.buttons{
    height:100%;
}
.buttonDiv{ 
    display:flex;
    flex-direction:column;
    justify-content:center;

}
.skipButtonA {
   height: 50px;
   padding:10px;
}
label{
    text-align:right;
   font-weight:bold;
    
 
}
.buttonA, .skipButtonA{
    
    border:white;
}
#userFor{
    width:80%;
}
#buttonContainers{
    height:10%;
margin-left:5%;
}
.dbButtons{
    display:inline-block;

 background-color: transparent;
border: 0;
color: #fefbef;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
line-height: 1;
margin-top: 1.5rem;
width: 18%; /* Large, mobile-friendly touch target */
background: #da1a1a;
height:100%;

}
.dbButtons:hover{
background: #843e3e;


}
.dbButtons{
box-shadow: -4px 5px 4px black;
}
.inputs{
border-radius: 3px;
border: 1px solid transparent;
border-top: none;
border-bottom: 1px solid #DDD;
box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
height:50px;
}
table{
 height:100%;
}
.dataRow{
 height:20%;
}
td label{
 font-size: 20px;


}

/* div {
    height: 500px;
} */